body{
  height:100%;
  overflow: hidden;
  background-image: radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}
#game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  height: 300px;
  background-color: #dddddd00;
}

.square {
  background-color: #ffffffc9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: -100px;
}

button:hover {
  background-color: #555;
}
h1{
  position: absolute;
  top: 0px;
  right: 43%;
  color: rgb(21, 184, 21);
}
.square:hover{
  transition: .2s;
  background-color: #fffffff6;
}
@media (max-width: 575.98px) { 
  h1{
    right: 60px;
  }
  button{
    top: -200px;
 }
